.tab-panel {
  flex: 1;
  overflow: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
  min-height: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.tab-panel.hidden {
  display: none;
}

.tab-panel.active {
  display: flex;
}

